/* CSS codes for calculator project */

body {
 height: 600px;
 font-family: poppins;
}

p {
  margin: 0;
}

.container {
 background-color: rgb(162, 209, 211);
 display: flex;
 align-items: center;
 justify-content: center;
 margin: auto;
 height: 600px;
}

.sub-container {
  background-color: white;
  border-radius: 8px;
  padding: 0 10px 8px 10px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.4);
}

.js-result {
 background-color: black;
 margin: 0 -10px 0 -10px;
 color: white;
 font: 35px bold;
 height: 85px;
 padding: 28px 27px 20px 0;
 border-top-right-radius: 8px;
 border-top-left-radius: 8px;
 display: flex;
 justify-content: flex-end;
}

.numbers-container {
  display: flex;
  margin-top: -10px;
}

.numbers-sub-container {
  margin-top: -16px;
}

.buttons {
  padding: 10px 31px;
  border: none;
  border-radius: 4px;
  background-color: rgb(227, 225, 225);
  font-size: 15px;
  font-weight: 400;
  margin: 5px 2px 5px 0;
}

.number1-button {
  padding: 10px 33.5px;
  border: none;
  border-radius: 4px;
  background-color: rgb(227, 225, 225);
  font-size: 15px;
  font-weight: 400;
  margin: 5px 2px 5px 0;
}

.dot-buttons {
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  background-color: rgb(227, 225, 225);
  font-size: 15px;
  font-weight: 400;
  margin: 0 2px 5px 0;
}

.operators-buttons {
  padding: 10px 29px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(153, 153, 153);
  color: white;
  margin: 8px 2px 30px 0;
}

.red-button {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  background-color: rgb(255, 25, 25);
  color: white;
}

.eval-button {
  padding: 0 27.5px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  background-color: rgb(74, 230, 74);
  color: white;
  height: 200px;
  margin: -11px 0 0 4px;
}
